<div class="row mt-4">
  <div class="col-md-4">
      <div class="btn-group">
        <button class="btn btn-light" (click)="filterArticles('all')" [class.selected]="filterType === 'all'">全部</button>
        <button class="btn btn-light" (click)="filterArticles('unread')" [class.selected]="filterType === 'unread'">未读</button>
      </div>
  </div>
  <div class="col-md-8">
    <div class="search-control input-group" [formGroup]="searchGroup">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="search" (keyup)="filterArticles('search')" formControlName="searchStr" #searchStr>
      </div>
  </div>
</div>
<ul class="list-unstyled read-list">
  <li class="read-item" *ngFor="let item of articles">
    <h3 class="title">
      <i class="fas fa-link"></i>
      <a class='url' href="{{ item.url }}" target="_blank">{{ item.title }}</a>
    </h3>
    <p class='description'>{{ item.updated_date | date }}</p>
    <div class="tags">
      <span class='tag' *ngFor="let tag of item.tags"><i class="fas fa-tag"></i> {{ tag }}</span>
    </div>
    <span class="tools-bar">
      <!-- <i class="fas fa-edit" title="编辑"></i> -->
      <i class="fas fa-trash-alt" title="删除" (click)="deleteArticle(item._id)"></i>
      <i class="fas fa-check-circle" title="标记为已读" *ngIf="!item.read" (click)="markAsRead(item._id)"></i>
    </span>
  </li>
</ul>