body {
    background: #fff;
}
a, a:link {
    color: #333;
}
a:hover {
    color: #c33;
    text-decoration: underline;
}
  
a.logo {
    color: #c33;
    font-size: 30px;
}
.logo:hover {
    text-decoration: none;
}