<form class="mt-4" [formGroup]="angForm" novalidate>
  <div class="form-group">
    <label for="exampleInputEmail1">标题</label>
    <input type="text" class="form-control" formControlName="title" #title>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">链接</label>
    <input type="text" class="form-control" formControlName="url" #url>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">标签</label>
    <input type="text" class="form-control" placeholder="用逗号分隔" formControlName="tags" #tags>
  </div>
  <button type="submit" class="btn btn-primary" (click)="saveArticle(title.value, url.value, tags.value)">保存</button>
</form>